{% extends 'base.html' %}
{% block title %}
    <title>branches</title>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">branches</li>
{% endblock %}
{% block content %}  
        <table class="table table-hover">
            <thead class="thead-dark">
                <th>branche name</th>
                <th>branche phone</th>
                <th>branche mail</th>
                <th>branche departmets Count</th>
            </thead>
            <tbody>
        {% for branche in branches %}
             <tr>
                <td><a href="{% url 'branchesDetails' branche.pk %}">{{branche.name}}</a><br/><small class="text-muted">{{branche.address}}</small></td>
                <td>{%if branche.phone%}{{branche.phone}}{%endif%}</td>
                <td>{%if branche.email%}{{branche.email}}{%endif%}</td>
                <td>0</td>
             </tr>
        {% endfor %}
            </tbody>
        </table>
        <a href="#" class="btn btn-outline-primary">new branche</a>
{% endblock %}
