{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>branche {{branche.name}}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{%static 'bootstrap/bootstrap.bundle.min.js'%}"></script>
</head>
<body>
    <div class="container mt-5">
     <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'Branches' %}">branches</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{branche.name}}</li>
         </ol>
     </nav>
        <div style="background-color: rgb(235, 230, 230);border: 10px solid rgb(235, 230, 230);border-radius: 10px;">
          <dl class="row ml-4">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{branche.name}} <br/> <p class="text-muted">{{branche.address}}</p></dd>
            <dt class="col-sm-3">Phone:</dt>
            <dd class="col-sm-9">{{branche.phone}}</dd>
            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">{{branche.email}}</dd>
          </dl>
        </div>
        <table class="table">
            <thead>
                <th>name</th>
                <th>description</th>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{department.name}}</td>
                    <td>{{department.description}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>